.message {
  background-color: rgb(0, 9, 18);
  width: fit-content;
}

.chat_container {
  height: 70vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}
@media only screen and (max-width: 600px) {
  .chat_container {
    height: 100vh;
    overflow: auto;
  }
}
